@import "~leaflet/dist/leaflet.css";

:root {
  --primary-color: #007bff;
  --primary-disabled-color: #59a9ff;
  --secondary-color: #5C636A;
  --success-color: #28a745;
  --success-disabled-color: #73c586;
  --warning-color: #FFCA2C;
  --danger-color: #BB2D3B;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
  font-size: 20px;
}

/* в закрытом аккоридионе убираем ненужные паддинги*/
.collapsed{
  margin-top: 0px !important
}

/* убираем паддинг внутри открытых створок аккордиона */
.accordion-body{
padding: 0 !important;
}

/* убираем лишние марджины в закрытом аккордионе */
.accordion-button{
  margin: 0 !important;
}

.accordion-flush{
  margin: 0 !important;
  padding: 0 !important;
}

/* контейнер карты */
.leaflet-container {
  height: 500px; 
  width: 100%;
}

/* делаем невидимыми иконки пина по умолчанию на карте  */
.leaflet-control-attribution .leaflet-control-attribution-icon {
  background: none !important;
  display: none !important
}

/* убираем флаг страны разработчика */
body .leaflet-container .leaflet-attribution-flag{
  background: none !important;
  display: none !important
}

/* устанавливаем курсор для пина карты */
.leaflet-marker-icon {
  cursor: pointer !important;
}

/* устанавливаем курсор для названия города на карте */
.body .leaflet-container .leaflet-tooltip{
  cursor: pointer !important;
}

/* кастомный стиль для popup-элемента карты */
.leaflet-popup-content-wrapper {
  border-radius: 5px !important;
  padding: 0.5px !important;
  margin: 0px !important
}

.leaflet-popup.leaflet-zoom-animated{
  margin: 0px !important
}

.leaflet-popup-tip{
  display: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#info .accordion-button{
  background-color: var(--success-color);
  color: #fff;
  
}

#pressure .accordion-button{
  background-color: var(--primary-disabled-color);
  color: #fff;
  margin-bottom: 1px;
}

#rest .accordion-button{
  background-color: var(--primary-color);
  color: #fff
}

.accordion-button::after{
  color: #fff;
  background-image: url('https://www.freeiconspng.com/uploads/white-down-arrow-png-2.png') !important
}

