:root {
  --primary-color: #007bff;
  --secondary-color: #5C636A;
  --success-color: #28a745;
  --warning-color: #FFCA2C;
  --danger-color: #BB2D3B;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .accordion-button {
  background-color: red !important;
} */
#info .accordion-button{
  background-color: var(--success-color);
  color: #fff
}

#pressure .accordion-button{
  background-color: var(--success-color);
  color: #fff
}

#rest .accordion-button{
  background-color: var(--primary-color);
  color: #fff
}

.accordion-button::after{
  color: #fff;
  background-image: url('https://www.freeiconspng.com/uploads/white-down-arrow-png-2.png') !important
}