@import '../../../style/colors';

.map{
    height: 550px;
    width: 1300px
}
a{
    text-decoration: none;
   
   .company_item{
    color: #000;
    border-radius: 3px; 
    padding: 10px 5px 10px 10px; 
    margin-bottom: 5px;
    background-color: lighten($secondary-color, 55%);
    font-weight: bolder;

    &:hover{
        background-color: lighten($secondary-color, 45%);
    }
} 
}

.popup_wrap{
    cursor: pointer; 
    text-align: center;

    .popup_city_name{
        margin-bottom: 5px;
        font-weight: bold;
        // font-size: 1.1rem;
    }
}

