$primary-color: #6dd3d6;

$primary-color: #007bff;
$primary-disabled-color: #59a9ff;
$secondary-color: #5C636A;
$success-color: #28a745;
$success-disabled-color: #73c586;
$warning-color: #FFCA2C;
$danger-color: #BB2D3B;
$light-bg-color: #F9FDFE;
