@mixin flex_for_dimentions {
    display: flex; 
    flex-wrap: wrap; 
    gap: 5px;
    padding: 0px 0 25px 0;
}

@mixin back_btn_position {
    position: absolute;
    left: 10px;
    cursor: pointer;
}

@mixin justify_space_between{
    display: flex; 
    justify-content: space-between
}

