@import '../../../style/mixins.scss';

.wrapper {
    font-size: 20px;

    .card {
        text-align: center; 
        margin-bottom: 20px;

        .back_icon{
            cursor: pointer;
            @include back_btn_position
    } 
    }


}