.container{
    overflow: hidden;

    .accordion {
        .accordion_item{
            .accordion_header{
                background-color: red;
            }
        }
    }
}

.accordion-button{
    background-color: red;
}






