@import '../../../style/mixins.scss';
@import '../../../style/colors';

.description{
    display: flex;
    justify-content: space-between;
}

.mb_20{
    margin-bottom: 20px;
}

.under_press_equip_body{
    margin-bottom: 5px;
    padding: 0 7px
}

.card{
    width: '100%';
     text-align: center; 
     font-weight: bolder; 
     position: relative;
     .icon{
        @include back_btn_position
    }
}

.fs_20{
    font-size: 20px;
}

.downloadIconDiv{
    text-align: center; 
    cursor: pointer; 
    color: $primary-color
}
