@import '../../../style/colors';

.wrapper{
    // width: 100vw;
    // height: 100vh;
    background-color: $light-bg-color;
    // overflow-y: scroll;
    font-size: 18px;
    .paginationButtonGroup{
        display: flex; 
        justify-content: end; 
        gap: 5px;
    }

        .table{
            border-collapse: separate; 
            border-spacing: 0 8px; 
            cursor:auto;
        .table_head{
            text-align: center;
            color: gray;
        }
        .table_body{
            .link{
                display: block
            }
            .table_row{
                background-color: #fff;
                box-shadow: 2px 2px 5px rgba(11, 11, 1, 0.2);

                .city{
                    width: 250px;
                }
                .tel{
                    white-space: nowrap
                }
                .email{
                   display: block 
                }
                
                .logoSection{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 15px;
                    font-size: 18px;
                    .companyLogo{
                        width: 60px; 
                        height: 60px;
                        border-radius: 50%;
                    }
                    .inn{
                        margin-top: 5px;
                        font-size: 14px;
                        color: gray;
                        font-weight: bolder;
                    }
                }

                td{
                    border: solid 1px $light-bg-color;
                    border-style: solid none;
                    padding: 15px;
                    position: relative;

                    a{
                        text-decoration: none;

                        button{
                            display: flex;
                            flex-wrap: nowrap
                        }
                    }

                    .detailsIcon{
                       margin-left: 5px;
                    }

                    .highlight{
                        background-color: lighten($primary-disabled-color, 10%) ;
                    }
                }
                    td:first-child{ 
                        border-left-style: transparent;
                        border-top-left-radius: 10px; 
                        border-bottom-left-radius: 10px;
                    }

                    td:last-child{
                        border-right-style: solid;
                        border-bottom-right-radius: 10px; 
                        border-top-right-radius: 10px;
                    }
            }
        }
    }
}
