.table{
    border-collapse: separate; 
    border-spacing: 0 10px; 
    cursor: pointer;
    .table_head{
    text-align: center;
    }
    .table_body{
        .link{
            display: block
        }
        .table_row{
            // margin-bottom: 2px;
            td{
                border: solid 1px #EBECF0;
                border-style: solid none;
                padding: 15px;
            }
                td:first-child{
                    // padding: 10px;  
                    border-left-style: solid;
                    border-top-left-radius: 10px; 
                    border-bottom-left-radius: 10px;
                }

                td:last-child{
                    // padding: 10px;  
                    border-right-style: solid;
                    border-bottom-right-radius: 10px; 
                    border-top-right-radius: 10px;
                }
        }
    }
}



    // .test{
    //     height: 10px;
    //     padding: 10px;
    //     // border: red solid 1px
    // }