@import './mixins.scss';

.mainVessel{
    font-weight: 600;
}

.mainFormGroup{
    padding: 20px 0 20px 60px;

    .dimentions{
        @include flex_for_dimentions
    }

    .subVessel{
        padding-top: 5px;
    }
}




